page-video-news {
  .ptagNew {
    margin: 0px;
    color: #fff;
    font-size: 16px;
    height: 45px;
    line-height: 45px;
    text-transform: uppercase;
    font-family: "Oswald", sans-serif;
    letter-spacing: 0.4px;
  }
  .active-cateNew {
    font-weight: 600;
    color: #fff !important;
  }
  .topCss .toolbar-md {
    padding: 1px;
    min-height: 45px;
  }
  .n_cls {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
  }
  .videoDiv {
    width: 100%;
    height: 160px;
    margin: 0;
    border-radius: 5px;
  }
  .plybtnicondet {
    position: absolute;
    right: 10px;
    bottom: 10px;
    height: 20px;
    width: 20px;
    z-index: 9999999999;
  }
  .newsTitleVideo {
    position: absolute;
    bottom: 7px;
    font-size: 13px;
    color: #fff;
    width: 80%;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    text-align: left;
    overflow: hidden;
    z-index: 333333333;
    font-family: "Oswald", sans-serif;
    padding-left: 7px;
    padding-right: 7px;
    letter-spacing: 0.4px;
    line-height: 13px;
    font-weight: 400;
    white-space: normal;
  }
  .column {
    float: left;
    width: 50%;
    padding: 5px;
    padding-left: 2px;
    padding-bottom: 0px;
    position: relative;
  }
  .card2 {
    width: 150px !important;
    display: inline-block;
  }
  .ion-scroll2 {
    min-height: 146px;
    height: auto;

    .scroll-content {
      padding: 0px !important;
    }
  }
  .cardTOP {
    width: 77px !important;
    display: inline-block;
    text-align: center;
  }
  .scrollTOP {
    min-height: 32px;
    height: auto;

    .scroll-content {
      padding: 0px !important;
    }
  }

  .newsText {
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    text-align: left;
    overflow: hidden;
    font-size: 14px;
  }
  .grcolor {
    position: absolute;
    background-image: linear-gradient(transparent 60%, #000);
    z-index: 99999999;
    width: 96%;
    height: 100%;
    top: 0;
    bottom: 0;
    border-radius: 5px;
  }
}
